* {
  max-width: 100%;
  margin: 0 0 0 0;
}
/*-------- NavBar Styles ------------*/ 
.navbar {
  background-color: #561f55;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.title {
  font-size: 2.5em;
  font-family: 'Unica One', cursive;
  text-align: left;
  margin-left: 2em;
  color: #cf56a1;
  padding: 0.2em 0;

}

.smallertitle {
  font-family: 'Alex Brush', cursive;
  font-size: 0.6em;
  color: #fcb2bf;
}

.navbar .navlinks {
  color: white;
  font-size: 1.2em;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background-color: #561f55;
  padding: 0.5em;
}

.navatags {
  background-color: #561f55;
  border-radius: 0.8em;
  padding: 0.2em;
  width: 6em;
  text-decoration: none;
  color: #cf56a1;
  font-size: 1.2em;
  font-family: 'Alex Brush', cursive;
}

.navatags:hover{
  background-color: #fcb2bf;
  color: white;
}

/* --------------- About -------------- */
.parallax {
  padding: 1rem;
  text-align: center;
  background-color: #7a2c79;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://i.ibb.co/52CvChk/tarot.png');
  height: 40em;
}

.beximg{
  border-radius: 100em;
  width: 20vw;
  margin: 1em;
  box-shadow: 0 0 2em 1em #fcb2bf;
}
/* --------- Bio Section ----------- */
.bio-section{
  background-color: #7a2c79;
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
}

.bio-about {
  width: 20em;
  text-align: right;
  color: white;
  font-size: 2em;
  font-family: 'Unica One',  cursive;
}

.bio-about h3 {
  color: #fcb2bf;
  font-family: 'Alex Brush', cursive;
  font-size: 2em;
}
/* ---- Contact Section ----- */
.contact-form{
  /* background-color: #561f55; */
  background-image: url('./images/tarot-cards.png');
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.input-form{
  padding: 1em;
}
textarea {
  resize: none;
  width: 35rem;
  height: 5rem;
  text-align: center;
  font-size: 1.8rem;
  text-align: center;
  font-family: 'Unica One',  cursive;
}
div .contact-button{
  
  font-family: 'Alex Brush', cursive;
}
input {
  font-size: 1.8rem;
  margin: 0.2em;
  font-family: 'Unica One',  cursive;
  text-align: center;
}
form{
  background-color: #fcb2bf;
  width: 50%;
  border: 0.3em dashed #cf56a1;
  border-radius: 2em;
  opacity: 0.9; 
}
.contact-button{
  background-color: #cf56a1;
  border: 0.5em solid #cf56a1;
  border-radius: 2em;
  color: white;
  font-size: 2.2rem;
}
.contact-button:hover{
  background-color: #561f55;
  border: 0.5em solid #561f55;
  cursor: pointer;
  color: #cf56a1;
}
/* ------- BottomNav ----------- */
.bottom-navbar{
  background-color: #561f55;
  text-align: center;
  padding: 2em;
}
.copyright-bbfsw{
  color: #fcb2bf;
  text-decoration: none;
  font-size: 1.5rem;
  opacity: 0.5;
}